In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import re
import numpy as np

In [2]:
candidate_df = pd.DataFrame()

In [7]:
def district_scraper(state, district):
    URL = f'https://www.opensecrets.org/races/candidates?cycle=2020&id={state}{district}&spec=N'
    soup = BS(requests.get(URL).text)
    
    candidate_list = [x.text.strip() for x in soup.find_all('strong')]
    finances = (pd
        .read_html(
            str(soup.findAll('table', attrs={'class' : 'Members--table'}))
                .replace('$','')
                .replace(':', '')
        )
    )
    
    
    temp_df = pd.DataFrame()
    
    temp_df['name'] = [re.findall(r'(.+ .+) \(\w', item)[0] for item in candidate_list]
    temp_df['party'] = [re.findall(r'\((\w)\)', item)[0] for item in candidate_list]
    temp_df['vote'] = [re.findall(r'(\d*[.?]\d*\%)', item)[0] for item in candidate_list]
    temp_df['winner'] = ['Winner' if re.search(r'(Winner)', str(item)) is not None
                              else 'Not Winner' for item in candidate_list]
    temp_df['incumbent'] = ['Incumbent' if re.search(r'(Incumbent)', str(item)) != None 
                            else 'Not Incumbent' for item in candidate_list]
    temp_df['state'] = str(re.search(r'[A-Z][a-z]+(?: [A-Z][a-hj-z][a-z]+)?',
                                     soup.findAll('title')[0].text)[0])
    temp_df['district'] = str(re.findall(r'District ([0-9]{2})', soup.findAll('title')[0].text)[0])
    temp_df['raised'] = [finances[i].iloc[0,1] for i in range(len(candidate_list))]
    temp_df['spent'] = [finances[i].iloc[1,1] for i in range(len(candidate_list))]
    temp_df['cash_on_hand'] = [finances[i].iloc[2,1] for i in range(len(candidate_list))]
    
    global candidate_df
    candidate_df = pd.concat([candidate_df, temp_df])
    candidate_df = candidate_df.reset_index(drop=True)

In [8]:
candidate_df = pd.DataFrame()

for num in range(1,10):
    district_scraper('TN', str(num).zfill(2))

In [9]:
candidate_df

,name,party,vote,winner,incumbent,state,district,raised,spent,cash_on_hand
0,Diana Harshbarger,R,74.8%,Winner,Not Incumbent,Tennessee,01,2126946,1869100,257846
1,Blair Nicole Walsingham,D,22.4%,Not Winner,Not Incumbent,Tennessee,01,140209,134995,5215
2,Tim Burchett,R,67.7%,Winner,Incumbent,Tennessee,02,1336276,878488,593678
3,Renee Hoyos,D,31.0%,Not Winner,Not Incumbent,Tennessee,02,812784,816793,210
4,Chuck Fleischmann,R,67.3%,Winner,Incumbent,Tennessee,03,1051653,381411,1880341
5,Meg Gorman,D,30.5%,Not Winner,Not Incumbent,Tennessee,03,85843,77760,8083
6,Scott Desjarlais,R,66.7%,Winner,Incumbent,Tennessee,04,331464,392499,302649
7,Christopher Hale,D,33.3%,Not Winner,Not Incumbent,Tennessee,04,308731,302996,5735
8,Jim Cooper,D,100.0%,Winner,Incumbent,Tennessee,05,936569,1332131,272934
9,John Rose,R,73.7%,Winner,Incumbent,Tennessee,06,1050429,625688,454375
10,Mark Green,R,69.9%,Winner,Incumbent,Tennessee,07,1194960,935487,287889
11,Kiran Sreepada,D,27.3%,Not Winner,Not Incumbent,Tennessee,07,206644,207191,0
12,Ronald Brown,I,2.2%,Not Winner,Not Incumbent,Tennessee,07,1750,0,9006
13,Scott Vieira Jr,I,0.6%,Not Winner,Not Incumbent,Tennessee,07,655,1049,-197
14,David Kustoff,R,68.5%,Winner,Incumbent,Tennessee,08,1641217,999285,713832
15,Erika Stotts Pearson,D,29.5%,Not Winner,Not Incumbent,Tennessee,08,19070,15883,4137
16,Steve Cohen,D,77.4%,Winner,Incumbent,Tennessee,09,607570,457311,1216119
17,Charlotte Bergmann,R,20.1%,Not Winner,Not Incumbent,Tennessee,09,99147,100532,2566
18,Dennis Clark,I,1.6%,Not Winner,Not Incumbent,Tennessee,09,9991,9919,40

In [10]:
candidate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          19 non-null     object
 1   party         19 non-null     object
 2   vote          19 non-null     object
 3   winner        19 non-null     object
 4   incumbent     19 non-null     object
 5   state         19 non-null     object
 6   district      19 non-null     object
 7   raised        19 non-null     int64
 8   spent         19 non-null     int64
 9   cash_on_hand  19 non-null     int64
dtypes: int64(3), object(7)
memory usage: 1.6+ KB

In [11]:
district_url = 'https://www.britannica.com/topic/United-States-House-of-Representatives-Seats-by-State-1787120'
district_soup = BS(requests.get(district_url).text)
district_df = pd.read_html(str(district_soup.find('table')))[0]
district_df

             state  representatives
0          Alabama                7
1           Alaska                1
2          Arizona                9
3         Arkansas                4
4       California               53
5         Colorado                7
6      Connecticut                5
7         Delaware                1
8          Florida               27
9          Georgia               14
10          Hawaii                2
11           Idaho                2
12        Illinois               18
13         Indiana                9
14            Iowa                4
15          Kansas                4
16        Kentucky                6
17       Louisiana                6
18           Maine                2
19        Maryland                8
20   Massachusetts                9
21        Michigan               14
22       Minnesota                8
23     Mississippi                4
24        Missouri                8
25         Montana                1
26        Nebraska                3
27          Nevada                4
28   New Hampshire                2
29      New Jersey               12
30      New Mexico                3
31        New York               27
32  North Carolina               13
33    North Dakota                1
34            Ohio               16
35        Oklahoma                5
36          Oregon                5
37    Pennsylvania               18
38    Rhode Island                2
39  South Carolina                7
40    South Dakota                1
41       Tennessee                9
42           Texas               36
43            Utah                4
44         Vermont                1
45        Virginia               11
46      Washington               10
47   West Virginia                3
48       Wisconsin                8
49         Wyoming                1
50           Total              435

In [12]:
state_url = 'https://www.50states.com/abbreviations.htm'
state_soup = BS(requests.get(state_url).text)

state_df = (
    pd.read_html(str(state_soup.find('table', 
                                            attrs={'class' : 'table table-hover'})))[0]
    .drop(columns = 'STANDARD ABBREVIATION')
    .rename(columns = {'US STATE' : 'state',
                       'POSTAL ABBREVIATION' : 'abbrev'})
)
state_df

             state abbrev
0          Alabama     AL
1           Alaska     AK
2          Arizona     AZ
3         Arkansas     AR
4       California     CA
5         Colorado     CO
6      Connecticut     CT
7         Delaware     DE
8          Florida     FL
9          Georgia     GA
10          Hawaii     HI
11           Idaho     ID
12        Illinois     IL
13         Indiana     IN
14            Iowa     IA
15          Kansas     KS
16        Kentucky     KY
17       Louisiana     LA
18           Maine     ME
19        Maryland     MD
20   Massachusetts     MA
21        Michigan     MI
22       Minnesota     MN
23     Mississippi     MS
24        Missouri     MO
25         Montana     MT
26        Nebraska     NE
27          Nevada     NV
28   New Hampshire     NH
29      New Jersey     NJ
30      New Mexico     NM
31        New York     NY
32  North Carolina     NC
33    North Dakota     ND
34            Ohio     OH
35        Oklahoma     OK
36          Oregon     OR
37    Pennsylvania     PA
38    Rhode Island     RI
39  South Carolina     SC
40    South Dakota     SD
41       Tennessee     TN
42           Texas     TX
43            Utah     UT
44         Vermont     VT
45        Virginia     VA
46      Washington     WA
47   West Virginia     WV
48       Wisconsin     WI
49         Wyoming     WY

In [13]:
state_details = pd.merge(state_df, district_df, how='inner', on='state')
state_details

             state abbrev  representatives
0          Alabama     AL                7
1           Alaska     AK                1
2          Arizona     AZ                9
3         Arkansas     AR                4
4       California     CA               53
5         Colorado     CO                7
6      Connecticut     CT                5
7         Delaware     DE                1
8          Florida     FL               27
9          Georgia     GA               14
10          Hawaii     HI                2
11           Idaho     ID                2
12        Illinois     IL               18
13         Indiana     IN                9
14            Iowa     IA                4
15          Kansas     KS                4
16        Kentucky     KY                6
17       Louisiana     LA                6
18           Maine     ME                2
19        Maryland     MD                8
20   Massachusetts     MA                9
21        Michigan     MI               14
22       Minnesota     MN                8
23     Mississippi     MS                4
24        Missouri     MO                8
25         Montana     MT                1
26        Nebraska     NE                3
27          Nevada     NV                4
28   New Hampshire     NH                2
29      New Jersey     NJ               12
30      New Mexico     NM                3
31        New York     NY               27
32  North Carolina     NC               13
33    North Dakota     ND                1
34            Ohio     OH               16
35        Oklahoma     OK                5
36          Oregon     OR                5
37    Pennsylvania     PA               18
38    Rhode Island     RI                2
39  South Carolina     SC                7
40    South Dakota     SD                1
41       Tennessee     TN                9
42           Texas     TX               36
43            Utah     UT                4
44         Vermont     VT                1
45        Virginia     VA               11
46      Washington     WA               10
47   West Virginia     WV                3
48       Wisconsin     WI                8
49         Wyoming     WY                1

In [14]:
district_dictionary = state_details.set_index('abbrev')['representatives'].to_dict()
district_dictionary

{'AL': 7,
 'AK': 1,
 'AZ': 9,
 'AR': 4,
 'CA': 53,
 'CO': 7,
 'CT': 5,
 'DE': 1,
 'FL': 27,
 'GA': 14,
 'HI': 2,
 'ID': 2,
 'IL': 18,
 'IN': 9,
 'IA': 4,
 'KS': 4,
 'KY': 6,
 'LA': 6,
 'ME': 2,
 'MD': 8,
 'MA': 9,
 'MI': 14,
 'MN': 8,
 'MS': 4,
 'MO': 8,
 'MT': 1,
 'NE': 3,
 'NV': 4,
 'NH': 2,
 'NJ': 12,
 'NM': 3,
 'NY': 27,
 'NC': 13,
 'ND': 1,
 'OH': 16,
 'OK': 5,
 'OR': 5,
 'PA': 18,
 'RI': 2,
 'SC': 7,
 'SD': 1,
 'TN': 9,
 'TX': 36,
 'UT': 4,
 'VT': 1,
 'VA': 11,
 'WA': 10,
 'WV': 3,
 'WI': 8,
 'WY': 1}

In [ ]:
# another way to iterate through the financial data, pulling pivoted values and concatting them
# intitialize empty data frame
final_finances = pd.DataFrame()

# create the list of all dataframe tables for candidates
finances = (pd
    .read_html(
        str(soup_TN07.findAll('table', attrs={'class' : 'Members--table'}))
            .replace('$','')
            .replace(':', '')
    )
)

for fin in finances:
    final_finances = pd.concat(
        [final_finances,
        fin.pivot(index=2, columns=0, values=1).reset_index(drop=True)])